@charset "UTF-8";
/* CSS Document */
@media(max-width:400px){
	
    .h3{
        font-size:8vw;
    }
    
    .row1{
        height: 65vw;
    }
    
	header p{
		font-size:3.5vw;
	}
	
    .menu-list{
        height: 15vw;
    }
    
	.menu-list li a{
		font-size:6vw;
        position: relative;
        top:3vw;
	}
	
    .visual h1{
        font-size:10vw;
    }
    
	.row2{
		height: 120vw;
	}
	
	.slider img{
		width:100%;
		height:70vw;
        position: relative;
        top:13vw;
	}
    
    .row2-title{
        font-size:6vw;
        position: relative;
        top:15vw;
    }
    
    .img-text{
        height:20vw;
        width: 100vw;
    }
    
    .img-text p{
        font-size:3vw;
        margin-top:12vw;
    }
    
    .slick-prev{
        position: relative;
        top: 55vw;
        left:5vw;
        font-size:10vw;
    }
    
    .slick-next{
        position: relative;
        top:-53vw;
        left:90vw;
        font-size:10vw;
    }
    
	
	.row3{
		height:180vw;
	}
    
    .row3-title{
        font-size:6vw;
        position: relative;
        top:13vw;
    }
    
    .face-icon{
        width:30vw;
        height: 30.2vw;
    }
    
    span{
        font-size:8vw;
    }
	
	.face-text{
		font-size:4vw;
	}
    
    .profile-text{
        font-size:2.5vw;
        width: 90%;
        line-height:5vw;
        position: relative;
        left: 7vw;
    }
    
    .profile{
        font-size:6vw;
    }
	
    .other{
        font-size:6vw;
    }
    
	.other-text{
		font-size:2.3vw;
        width: 70vw;
        position: relative;
        right: 10vw;
	}
	
    .row4{
        height:180vw;
    }
    
    .row4-title{
        position: relative;
        font-family:cursive;
        top: 20vw;
        font-size:7vw;
    }
    
    .img-contena{
        height: 80vw;
    }
    
	.img-box{
		width: 44%;
        margin-bottom: 10vw;
        margin-left: -2%;
        position: relative;
        top:20vw;
        display: none;
	}
    
    .img-box p{
        width: 30vw;
        font-size:3vw;
        line-height: 4vw;
    }
    
    #text0,#text1,#text2,#text3,#text4{
    display:block;
}
	
    .img-box img{
        width: 30vw;
        height: 30vw;
    }
    
    #icon img{
        width: 32vw;
        height: 33vw;
        margin-left: 10vw;
    }
    
    #icon2 img{
        width: 29vw;
        height: 31vw;
        margin-top: 35vw;
        margin-left:4vw;
    }
    
    #icon3 img{
        width: 27vw;
        height: 31.3vw;
        margin-top:35vw;
        margin-left:45%;
    }
    
    #text0{
        margin-left:4vw;
    }
    
    #text1{
        margin-top:2vw;
        margin-left:8vw;
    }
    
    #text4{
        margin-left:9vw;
        top:-6vw;
    }
    
    #icon4 img{
        width: 27vw;
        height: 29vw;
        margin-top: 60vw;
        margin-left:87%;
    }
    
    .video-containar video{
        width: 103vw;
        height: 65vw;
        position: relative;
        top:80vw;
    }
    
    #formWrap{
        position: relative;
        top:20vw;
    }
    
    .row5{
        height:160vw;
        position: relative;
        top:10vw;
    }
    
    .row5-title{
        font-size:6vw;
    }
    
    input{
        width: 40vw;
        height: 7vw
    }
    
    textarea{
        width: 40vw;
        height: 20vw;
    }
    
    th{
        font-size:5vw;
    }
    
    #qestion{
        margin-top:7vw;
    }
    
    #sent{
        width: 18vw;
        height: 8vw;
        font-size: 5vw;
    }
    
    .row6{
        height:35vw;
    }
    
    footer p{
        font-size: 8vw;
        text-align: center;
        position: relative;
        top: 4vw;
    }
    
    #footertext{
        font-size: 4vw;
    }
}

 
