@charset "utf-8";
/* CSS Document */

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

body{
	padding: 0;
	margin: 0;
}

.wrapper {
    width: 100%;
    margin: 0;
	padding: 0;
}

.row1{
	height:160px;
	width:960px;
	margin: 0 auto;
}

.row2{
	
	margin: 0 auto;
}




.main-header{
	background-color: white;
    margin: 0 auto;
	padding-right: 10px;
	height:170px;
	border-bottom:1px solid black;
	position: fixed;
	top:0;
	z-index: 10;
}


.top-menu{
	float: right;
	width: 650px;
	margin-top:70px;
	position: relative;
}


.top-menu li{
	float:left;
	margin-right:40px;
}

h2{
	text-align: center;
}


.link1{
	margin-top:-10px;
	margin-left: -20px;
}

.link2{
	margin-left:-20px;
	margin-top: -10px;
}

.top-menu img{
	display: inline-block;
	padding-left: 20px;
}


main{
	width: 960px;
    margin: 0 auto;
}


footer{
	width:100%;
	padding: 0;
    color: #FFF;
}

.aside-contents{
	float:left;
	width:240px;
}

.main-contents{
	float:right;
	width:700px;
	margin-top:5px;
}
	
a{
	color:black;
	text-decoration:none;
}

a:hover{
	color:#32CD32;
}

li {
	list-style:none;
}

.logo{
	float:left;
}

.category-list{
	margin-top: 50px;
}

.category-title p{
	font-size:30px;
	margin-bottom:5.5vw
	
}

.category-list a{
	display:block;
	margin-bottom: 50px;
}


.s1 {
	color: #444;
	font-size: 24px;
	display: flex;
	align-items: center;
}
.s1:before, .s1:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}
.s1:before {
	margin-right: .4em;
}
.s1:after {
	margin-left: .4em;
}

.s1{
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 5vw
}

footer{
	text-align: center;
	background-color:#2CC100;
	height:100px;
}

footer img{
	margin-top:30px;
}

.item-area{
	width: 700px;
	display: flex;
	flex-wrap:wrap;
}


.item{
	width:150px;
	height: 220px;
	text-align:right;
    margin-right: 25px;
	margin-bottom:100px;
}

.navigation {
	position: relative;
	top:20px;
	display: none;
}

.navigation li{
	float:none;
	font-size:15px;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom: 1px;
	text-align: center;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	background-color:white;
}


.btn{
	margin-right:-50px;
	padding-left: 50px;
	width: 150px;
}
	

.btn2{
	margin-left:-80px
}

.btn-wrapper{
	width:100%;
	
}

.home-btn{
	width:960px;
	height:30px;
	margin: 0 auto;
	text-align: right;
}

.home-btn a{
	color:dimgray;
	margin-top: 30px;
	
}

.row4{
	width:100%;
	height:100px;
}

.menu{
	display: none;
}

.icon2{
	display: none;
	
}


#slider1 img{
	max-width: 100vw;
}