@charset "utf-8";
/* CSS Document */

.form-wrapper{
	width:100%;
}

.form-area{
	width: 960px;
	height:1200px;
	margin:0 auto;
	margin-top:130px;
		
}

.home-btn a{
	display:block;
	text-align: right;
	margin-right: 100px;
}

.contact_form {
    width: 640px;
    border: 1px solid #ccc;
    padding: 50px;
    margin: 0 auto;
}
 
.contact_form h2 {
    border-left: 5px solid #32CD32;
    padding-left: 10px;
    margin-bottom: 10px;
}
 
.textbox1 {
    width: 200px;
}
 
.textbox2 {
    width: 300px;
}
 
.textbox3 {
    width: 70px;
}
 
.textbox4 {
    width: 150px;
}
 
.textarea1 {
    width: 500px;
    height: 150px;
}

